$product-title-color: #aba098;
$product-price-color: #77a464;

$mobile-card-width: 40rem;
$screen-card-width: 23.5rem;

$divider-style: 1px solid rgba(0, 0, 0, 0.1);

.product-card-section {
  margin: 5rem auto;
  // background-color: rgb(223, 238, 242);

  h4 {
    margin: 0;
    padding-top: 0.8rem;
    font-size: 1.6rem;
    color: $product-title-color;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-image {
      display: block;
      max-width: 100%;
      object-fit: cover;
      // 防止圖片載入過慢，畫面抖動。
      height: $mobile-card-width;
    }

    .product-choose {
      position: relative;
      width: 100%;
      height: 3.2rem;
      margin-top: -3.2rem;
      font-size: 1.6rem;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }

    .product-card {
      flex-basis: 40rem;
      color: $product-title-color;
      font-weight: bold;
      margin: 1rem 1.5rem;
    }

    li:hover {
      .product-choose {
        opacity: 1;
      }
    }
  }

  .product-price {
    color: $product-price-color;
    font-weight: bold;
  }

  .product-card-divider {
    border-bottom: $divider-style;
  }
}

@media (min-width: 990px) {
  .product-card-section {
    .product-card-container {
      justify-content: flex-start;

      .product-image {
        height: $screen-card-width;
      }

      .product-card {
        flex-basis: 23.5rem;
      }
    }
  }
}
