<h3>This works! (from liquid-practice.liquid created by ourselves)</h3>

<p>{{section.settings.id}}</p>
<p>HEY</p>

{% schema %}
{
  "name": "Liquid Practice",
  "settings": [
    {
      "id": "liquid-practice",
      "type": "text",
      "label": "A practice for Shopify Liquid"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Liquid Practice",
      "category": "Practice"
    }
  ]
}
{% endschema %}
