.carousel {
  margin: 0 auto;
  max-width: 1280px;
  background-color: gold;
  position: relative;
}
.carousel-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0.5rem;
}
.carousel-button:hover, .carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.carousel-button:focus {
  outline: 1px solid white;
}
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}
.carousel-image:nth-child(1) {
  position: relative;
}
.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.carousel-image[data-active] {
  transition-delay: 0ms;
  z-index: 5;
  opacity: 1;
}
.carousel-image img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}