.product-card-section {
  margin: 5rem auto;
}
.product-card-section h4 {
  margin: 0;
  padding-top: 0.8rem;
  font-size: 1.6rem;
  color: #aba098;
}
.product-card-section ul,
.product-card-section li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-card-section a {
  text-decoration: none;
  color: inherit;
}
.product-card-section .product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card-section .product-card-container .product-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 40rem;
}
.product-card-section .product-card-container .product-choose {
  position: relative;
  width: 100%;
  height: 3.2rem;
  margin-top: -3.2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.product-card-section .product-card-container .product-card {
  flex-basis: 40rem;
  color: #aba098;
  font-weight: bold;
  margin: 1rem 1.5rem;
}
.product-card-section .product-card-container li:hover .product-choose {
  opacity: 1;
}
.product-card-section .product-price {
  color: #77a464;
  font-weight: bold;
}
.product-card-section .product-card-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 990px) {
  .product-card-section .product-card-container {
    justify-content: flex-start;
  }
  .product-card-section .product-card-container .product-image {
    height: 23.5rem;
  }
  .product-card-section .product-card-container .product-card {
    flex-basis: 23.5rem;
  }
}